.searchBar {
  width: 30rem !important;
}

#landing_page {
  background-image: url("../Assets/Img/banner-bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
  left: 7rem;
}

.banner {
  text-align: center;
  position: relative;
  top: 15rem;
  left: 4rem;
  font-size: 1.5rem;
}

.specific_Text {
  color: #fa2a1e !important;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 5%;
}

.line {
  width: 270px;
  height: 3px;
  background: red;
  position: relative;
  top: 50%;
  left: 38%;
  border-radius: 60px;
  transform: rotate(-2deg);
}

.feature-img {
  height: 180px;
}
