.searchBar {
  width: 30rem !important;
}

#landing_page {
  background-image: url("../Assets/Img/banner-bg.png");
  background-repeat: no-repeat;
  height: 100vh;
  overflow-x: hidden;
}
.navbar-brand {
  font-weight: bolder;
  font-size: 1.5rem;
  position: relative;
  left: 7rem;
}

.banner {
  text-align: center;
  position: relative;
  top: 15rem;
  left: 4rem;
  font-size: 1.5rem;
}

.specific_Text {
  color: #fa2a1e !important;
}

.heading {
  text-align: center;
  margin-bottom: 50px;
  margin-top: 5%;
}

.line {
  width: 270px;
  height: 3px;
  background: red;
  position: relative;
  top: 50%;
  left: 38%;
  border-radius: 60px;
  transform: rotate(-2deg);
}

.feature-img {
  height: 180px;
}

.product-img {
  height: 15rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product {
  border-radius: 20px;
  margin-top: 30px;
}

.product-name {
  font-size: 18px;
}

.price {
  color: grey;
  display: block;
  margin: 10px 0;
  font-size: 16px;
}

.cart-btn {
  margin: 20px 0 5px 0;
}

.minus,
.qty,
#qty,
.plus {
  display: inline-block;
}

.qty {
  width: 10%;
}

#qty {
  width: 100%;
  height: 35px;
  padding: 5px;
}

.plus,
.minus {
  background: #ffefd5b5;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  cursor: pointer;
  border: none;
}
.plus:hover,
.minus:hover {
  background: papayawhip;
}
